* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
  --color1: hsl(215, 90%, 51%);
  --color2: grey;

}

body {
  background-color: hsl(0, 0%, 99%);
  width: 100%;
  height: 100%;

}

#screenCover {
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 100%;
  background-color: hsl(0, 0%, 30%);
  opacity: 0.5;
  display: none;
  
}

.topBar {
  width: 100%;
  height: 55px;
  box-shadow: 0 -1px 8px -1px hsl(0, 0%, 80%);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 7;
}

#mainMenuImg {
  width: 54px;
  padding: 14px;
  z-index: 9;

}

.mainHead {
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 60px;
  color: var(--color1);

}

@media (max-width: 750px) {


}

#menuDiv {
  display: inline-block;
  position: fixed;
  z-index: 9;
  width: 60%;
  max-width: 340px;
  min-width: 100px;
  background-color: white;
  height: 100%;
  left: -390px;
  top: 0;
  transition: 0.2s all;
  overflow: auto;

}

#menuDivHead {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: 55px;
  border-bottom: 1px solid silver;
  font-weight: 500;
  font-size: 23px;
  color: var(--color1);
}

.menuItems {
  display: flex;
  color: var(--color2);
  height: 50px;
  padding: 15px;
  transition: 0.1s all;
  font-weight: 400;
}

.menuItems:hover {
  color: var(--color1);
  transform: translate(7px);

}

#heroContainer {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

}

#heroImg {
  width: 40%;
  min-width: 250px;
  max-width: 800px;
  padding: 30px;
  padding-left: 25px;
  animation: floating-animation 1s ease-in-out infinite alternate;

}

@keyframes floating-animation {

  100% {
    transform: translate(0, 5px);
   
  }

}

#heroDivTxt h1 {
  color: var(--color1);
  font-size: 5vmax;

}

#heroDivTxt p {
  color: var(--color2);

}

.popular-cards-outerContainer {
  width: 100%;
  height: 300px;
  display: inline-block;
  margin-top: 100px;
}

.popularHead {
  display: inline-block;
  width: 130px;
  color: var(--color2);
  padding: 5px 0;
  margin: 10px 20px;
  border-bottom: 2px solid var(--color1);
  
}

.popular-cards-innerContainer {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: auto;
  white-space: nowrap;

}

.popuCards {
  display: inline-block;
  width: 370px;
  height: 230px;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  box-shadow: 1px 1px 9px -1px hsl(0, 0%, 85%);
  white-space: initial;
  background-color: white;

}

.popuCardHead {
  display: inline-block;
  width: 300px;
  height: 75%;
  border-bottom: 1px solid silver;
 
}

.popuCardDate {
  color: var(--color2);
  margin: 20px 0;
  font-size: 14px;

}
/* Card tags */
.popuCardHead p{
  display: inline-block;
  padding: 5px;
  margin: 5px 0;
  overflow: auto;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;

}
.js-tag::before{
  content: "JS";
}
.js-tag{
  background-color: #FFEA00;
  
}
.html-tag::before {
  content: "HTML";
  
}
.html-tag{
  background-color: #FF752E;
}
.css-tag::before {
  content: "CSS";
}
.css-tag{
  background-color: #39C1FF;
}
.exploreSiteCard{
  background-color: hsla(235, 100%, 80%, 1);
  color: white;
  font-size: 20px;
  margin: 60px 15px;
  padding: 15px;
  border-radius: 5px;
}
.exploreSiteCard button{
  background: transparent;
  padding: 5px 10px;
  margin: 20px 0 10px 0;
  font-size: 20px;
  border: 1px solid blue;
  color: blue;
  border-radius: 5px;
}
